.links{
    font-size:75px;
    text-align:center;
    border:10px solid black;
    background-color:skyblue;
}

h1{
    font-size:90px;
}

h2{
    text-align:center;
    font-size:30px;
}

.addForm {
    margin: 0 auto;
    width: 210px;
}
.addForm label{
    font-size:larger;
    display: inline-block;
    text-align: right;
    float: left;
}
.addForm input{  
    display: inline-block;
    text-align: left;
    float: right;
}

table,th,td{
    border: 3x solid black;
    font-size:larger;
    text-align:center;
    background-color:steelblue;
   
}
table {
    margin-left:auto;
    margin-right:auto;
}
th{
    padding:5px;
}

.budgetForm{
    text-align:center;
}