<div>
    <h1 class="whiteTextHeading">Task Tracker Page</h1>
    <div class="addSpacing"></div>

    <div class="col-sm containers" style="display:inline-block; padding-right:50px;padding-left:10px;" class=" fieldColor">
        <form #taskRef="ngForm" (ngSubmit)="storeNewTask(taskRef.value)">

            <mat-form-field>
                <mat-label class="whiteTextBody">
                    Name
                </mat-label>
                <span class="fieldColor">
                <input matInput type="text " name="name" style=" color:rgba(255,255,255,0.7)"ngModel/>
                 </span>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label class="whiteTextBody ">
                    Employee Id
                </mat-label>
                <span class="fieldColor ">
                    <input matInput type="text " name="employeeId" style=" color:rgba(255,255,255,0.7)" ngModel/>
                </span>

            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label class="whiteTextBody ">
                    Task
                </mat-label>
                <span class="fieldColor ">
                    <input matInput type="text " name="taskName" style=" color:rgba(255,255,255,0.7)" ngModel/>
                </span>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label class="whiteTextBody ">
                    Deadline
                </mat-label>
                <span class="fieldColor ">
                    <input matInput type="text " name="deadline"style=" color:rgba(255,255,255,0.7)" ngModel/> 
                </span>

            </mat-form-field>
            <br/>
            <button mat-stroked-button type="submit " style="background-color:cadetblue; ">Add Task</button>
            <br/>
            <br/>
        </form>
    </div>


    <div class="addSpacing"></div>



    <div class="col-sm" style=" padding-right:50px;padding-left:10px;">

        <br/><br/>
        <br/>
        <table border="1">
            <tr>
                <th class="whiteTextBody">Employee Id</th>
                <th class="whiteTextBody">Name</th>
                <th class="whiteTextBody">Task</th>
                <th class="whiteTextBody">Deadline</th>
            </tr>


            <tr *ngFor="let task of tasks">
                <td class="whiteTextTable ">{{task.employeeId}}</td>
                <td class="whiteTextTable ">{{task.name}}</td>
                <td class="whiteTextTable ">{{task.taskName}}</td>
                <td class="whiteTextTable ">{{task.deadline}}</td>
            </tr>


        </table>
    </div>