<div>
    <h2>Login Page</h2>
    <form [formGroup]="loginInfo" (ngSubmit)="checkUser()">
        <label class="whiteText">Username</label>
        <input type="text" name="userName" formControlName="user" />
        <br/>
        <label class="whiteText">Password</label>
        <input type="text" name="pass" formControlName="pass" />
        <br/>
        <input type="submit" name="submit" />
        <input type="reset" name="reset" />
    </form>
    <div>
        <h4 class="whiteText"> Don't have an account?
            <input type="button" value="Sign Up" (click)="signUp()" /></h4>
    </div>

</div>